/* navbar */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.3s, padding 0.3s;
    padding: 15px;
    box-sizing: border-box;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

#navbar {
    background-color: transparent !important;
    transition: background-color 0.3s, padding 0.3s;
}

#navbar.scrolled {
    background-color: #333 !important;
}



/* content */

div.background {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3a1842e8-efec-4bec-8d8d-6440a0fd0b37/dg7xkf1-1fd8e94a-9242-43aa-9cf7-53fb99db1700.png/v1/fill/w_1280,h_732,q_80,strp/wallpaper_car_by_soulssart_dg7xkf1-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzMyIiwicGF0aCI6IlwvZlwvM2ExODQyZTgtZWZlYy00YmVjLThkOGQtNjQ0MGEwZmQwYjM3XC9kZzd4a2YxLTFmZDhlOTRhLTkyNDItNDNhYS05Y2Y3LTUzZmI5OWRiMTcwMC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Msd9XTAoLdZCRXxi-2AVFt7n7GK5ccSEfy95nBe9uwI);
    background-size: cover;
    width: 100%;
    height: 800px;
    margin-top: -60px ;
  }